<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Trusken Supply Chains{% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Building materials, Petroleum, Diesel, Haulage" name="keywords">
    <meta content="Trusken Supply Chains specializes in the sales and supply of building materials, petroleum, diesel, and general haulage services" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="{{ url_for('home') }}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-truck me-3"></i>Trusken Supply Chains</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{ url_for('home') }}" class="nav-item nav-link">Home</a>
                <a href="{{ url_for('product') }}" class="nav-item nav-link">Products</a>
                <a href="{{ url_for('about') }}" class="nav-item nav-link">About Us</a>
                <a href="{{ url_for('contact') }}" class="nav-item nav-link">Contact Us</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{ url_for('static', filename='images/building_site2.jpg') }}" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h3 class="text-white display-3 fw-bold">Building Materials</h3>
                        <p class="text-white">High quality and affordable building materials for all your projects</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{ url_for('static', filename='images/petroleum_2.jpg') }}" alt="Second slide">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h3 class="text-white display-3 fw-bold">Diesel Supply</h3>
                        <p class="text-white">We provide reliable petroleum and diesel supplies</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{ url_for('static', filename='images/building_material_1.jpg') }}" alt="Second slide">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h3 class="text-white display-3 fw-bold">Cements and Sands</h3>
                        <p class="text-white">We provide reliable Cement, Granite and Gravel supplies</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{ url_for('static', filename='images/ken.jpg') }}" alt="Second slide">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <h3 class="text-white display-3 fw-bold">Haulage </h3>
                        <p class="text-white">We provide reliable Haulage and transport system</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Content Block -->
    <div class="container py-5 text-center">
        <h2>Welcome to Trusken Supply Chains</h2>
        <p class="text-center mx-auto" style="max-width: 600px;">
            At Trusken Supply Chains, we specialize in the sales and supply of high-quality building materials, petroleum, diesel, and provide general haulage services across Nigeria. Our commitment to excellence ensures timely delivery and the best materials for your projects.
        </p>

        {% block content %}

        {% endblock %}
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer pt-5 mt-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Quick Links</h4>
                    <a class="btn btn-link" href="{{ url_for('about') }}">About Us</a>
                    <a class="btn btn-link" href="{{ url_for('product') }}">Our Products</a>
                    <a class="btn btn-link" href="{{ url_for('contact') }}">Contact Us</a>
                    <a class="btn btn-link" href="#">Privacy Policy</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Contact Us</h4>
                    <p><i class="fa fa-map-marker-alt me-3"></i>3 Dutse Street, Jigirya B, Hadejia Road, Kano, Nigeria</p>
                    <p><i class="fa fa-phone-alt me-3"></i>+234 08124437444, +234 07030482127</p>
                    <p><i class="fa fa-envelope me-3"></i>trusken@gmail.com</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-3">Follow Us</h4>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
